h1  {


  font-family: fantasy;
  text-align: center;
  text-shadow: 2px 2px 8px #FF0000;
  font-size: 400%;
}

h2 {

font-family: fantasy;
color: #00FFFF;
padding-top: 15px;
text-shadow: 2px 2px 8px #FF0000;


}

body{



}

img  {

padding-top: 30px;
box-shadow: 10px 10px 5px #888888;

}
